---
layout: page
title: Today's SNAP Updates
permalink: /
---
{% assign sorted_articles = site.data.articles | sort: 'time' | reverse %}
{% assign grouped_articles = sorted_articles | group_by_exp: 'article', 'article.time | date: "%Y-%m-%d"' %}

{% for group in grouped_articles %}
    <h2>{{ group.name }}</h2>
    <ul>
        {% for article in group.items %}
        {% assign description = article.description | downcase %}
            {% if description contains 'benefits' or description contains 'assistance' or description contains 'ebt' or description contains 'qualify' or description contains 'wic' or description contains 'stamps' %}
                <li> 
                     <!-- https://stackoverflow.com/questions/17711146/how-to-open-link-in-a-new-tab-in-html -->
                    <b><a target="_blank" rel="noopener noreferrer" href="{{ article.link }}">{{ article.title }}</a></b>
                    <ul>
                        <li>{{ article.description }}</li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}

